.home {
}

.home_article_card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1.5rem;

    .home_article_card {
        border-radius: 1rem;
        background-color: #eee;
        border 1px solid #eee;
        display: flex;
        flex-direction: column;
        color: #42b983;
        font-size: 1.2rem;
        font-weight bold;
        text-align center;
        padding 2rem;
    }

    .home_article_card:hover {
        border 1px solid #42b983;
        cursor pointer
    }

}


